/*TOP LEVEL CONTAINERS*/
#container
{
	text-align: left;
	margin: 0 auto 0 auto;
	width: 770px;	
	background-image: url(body_bg.gif);
}

#header
{
	width: 750px;
	margin: 0 10px 0 10px;
}

#main
{
	width: 740px;
	padding: 0 5px 0  5px;
	margin: 0 10px 0   10px; 
}

#footer
{
	width: 750px;
	margin: 0 10px 0 10px;
}

#footer ul
{
	list-style: none;
	margin: 0px;
	padding: 0px;
	text-align:center;
}

#footer li
{
	padding: 0px;
	list-style: none;
	display:  inline;
	text-align:center;
	
}
#footer li a, #footer li a:visited
{
	text-decoration:none;
	color:Black;
	font-weight:normal;
}

#footer a
{
	color:Black;
	font-weight:normal;
	text-decoration:underline;
}

#footer li a:hover
{
	text-decoration:underline;
}

body
{
	font: 14px Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	padding: 0px;
	margin-top: 0px;
	text-align: center;
	background: #373839;
}

a, a:visited
{
	text-decoration:underline;
	color:Black;
}

.bold
{
	font-weight:bold;
}

div#header {
	height: 200px;
	border-bottom: 2px solid #5A8E6A;
	background-color:Black;
	
}
div#nav {
	padding-top:10px;
	margin: 00px 0px 0px 300px;
	width: 400px;
	text-align: left;	
}
div.container {
    margin:0 auto 0 auto; 
	width: 750px;
	display:block;
}
div#green-bar {
	border-bottom: 2px solid #5A8E6A;
	width: 750px;
	margin: 0 auto 0 auto;
	display:block;
	height:5px;
}
img#logo {
	border: 0px;
	float: left;
	/*margin: 5px 20px 20px 10px;*/
}

div.nav-heading {
	padding: 1px;
}
div.nav-sub {
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 10px;
}

a.nav-heading, a.nav-heading:visited {
    color: #5A8E6A;
    text-decoration: none;
	display: inline;
    font: 18px "Trebuchet MS";
	letter-spacing: 1px;
    font-weight: bold;
	text-align: left;
}
a.nav-heading:hover {
	color: #FFFFFF;
	text-decoration: none;
	background-color: #96C6A6;
	text-align: left;
}
a.nav-sub, a.nav-sub:visited  {
    color: #5A8E6A;
    text-decoration: none;
    font: 14px "Trebuchet MS";
	letter-spacing: 0.5px;
	font-weight: bold;
	padding: 0px 2px 0px 2px;
}
a.nav-sub:hover {
	color: #F1F0F0;
	text-decoration: none;
	background-color: #5A8E6A;
}
img.nav-icon {
	border: 0px;
}

h1 {
	font-size: 24px;
	letter-spacing: 1px;
	font-weight: bold;
	color: #39814F;
}

h2 {
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: bold;
	color: #39814F;
}

h3 {
	font-size: 14px;
	font-weight: bold;
	color: #39814F;
	margin: 0 0 0 0;	
}
p span.displaynone { 
display:none; 
}