IMG { vertical-align: middle; }
IMG.img-picture { border: 1px solid #333333; }
IMG.img-folder { border: 0px; }
IMG.img-galicon { border: 1px solid #555555; }
IMG.img-thumbnail { border: 1px solid #333333; }
IMG.img-thumbnail-selected { border: 1px solid #8ca0bf; }
IMG.img-picture-prev { border: 0px; }
IMG.img-picture-next { border: 0px; }
IMG.img-thmbnavi-prev { border: 0px; }
IMG.img-thmbnavi-next { border: 0px; }
IMG.img-new { border: 0px; }


TABLE.table-wrapper {
  width: 740px;
  padding: 00px;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
}




TD.td-thumbnails-thumb {
  padding: 5px;
  font-family:  arial, verdana, helvetica, sans-serif;
  color:        #555555;
  font-size:    8pt;
  background-color: transparent;
  white-space: nowrap;
  vertical-align: bottom;
  text-align: center;
}

TD.td-thumbnails-thumb-selected {
  padding: 5px;
  font-family:  arial, verdana, helvetica, sans-serif;
  color:        #333333;
  font-size:    8pt;
  font-weight:  bold;
  background-color: transparent;
  white-space: nowrap;
  vertical-align: bottom;
  text-align: center;
}

DIV.div-thumbnails-caption {
  font-family:  arial, verdana, helvetica, sans-serif;
  color:        #000000;
  font-size:    8pt;
  font-weight:  normal;
  background-color: transparent;
}



TABLE.table-main-title {}

TD.td-main-title {
  font-family:  arial, verdana, helvetica, sans-serif;
  color:   #000000;
  font-size:    12pt;
  font-weight:  bold;
  background-color: transparent;
}

TD.td-main-title-spgm-link {
  color:#cccccc;
  font-size:8pt;
  font-family: arial, verdana, helvetica, sans-serif;
  text-align: center;
  background-color: transparent;
}

A.a-spgm-link {
  color: #b7cce0;
  font-size:8pt;
  font-family: arial, verdana, helvetica, sans-serif;
  background-color: transparent;
}





TABLE.table-gallisting-grid {
}

TD.td-gallisting-cell {
}




TABLE.table-galitem {
  width: 100%;
}

TD.td-galitem-icon {
  padding-right: 10px;
}

TD.td-galitem-title {
  font-family:  arial, verdana, helvetica, sans-serif;
  font-size:    9pt;
  width:        100%;
  text-align: left;
  font-weight: bold;
  color: #999999;
}

TD.td-galitem-caption {
  font-family:  arial, verdana, helvetica, sans-serif;
  font-size:    8pt;
  text-align: left;
}




TABLE.table-picture {
  width: 100%;
  text-align: center;
}

TD.td-picture-navi {
  font-family:  arial, verdana, helvetica, sans-serif;
  font-size:    10pt;
  font-weight:  bold;
  color:        #000000;
  text-align: center;
  background-color: transparent;
}

TD.td-zoom-factors {
  padding: 3pt;
  text-align: center;
}

INPUT.button-zoom-factors {
  border: 1px solid #777777; 
  font-family:  arial, verdana, helvetica, sans-serif;
  font-size:    9pt;
  font-weight: bold;
  color:        #777777;
  background-color: #dddddd;
  text-align: center;
}

TD.td-picture-pic {}

TD.td-picture-filename {
  font-family:  arial, verdana, helvetica, sans-serif;
  font-size:    8pt;
  font-weight: bold;
  text-align: center;
  background-color: #ececec;
  padding:7px;
  background-color: transparent;
}

TD.td-picture-caption {
  font-family:  arial, verdana, helvetica, sans-serif;
  font-size:    8pt;
  text-align: center;
  background-color: #ececec;
  padding:7px;
  background-color: transparent;
}




TABLE.table-thumbnails {
  margin-left: auto;
  margin-right: auto;
}

TD.td-thumbnails-navi {
  color: #000000;
  border-top: 2px solid #444444;
  font-family:	verdana, helvetica, arial, sans-serif;
  font-size:	10pt;
  font-weight:	bold;
  text-align: right;
  padding: 8px;
}

SPAN.span-filters {
  font-size:    8pt;
  font-weight: normal;
}


DIV.div-galheader {
  font-family:  arial, verdana, helvetica, sans-serif;
  font-size:    10pt;
  font-weight:  bold;
  color: #000000;
  margin-bottom: 20px;
  padding: 1px;
  width: 100%;
  text-align: left;
}

TABLE.table-shadows {
  border-collapse: collapse;
  margin: auto;
  padding: 0px;
}

TD.td-shadows-right {
  background-image: url(shadow_right.png);
  background-position: top left;
  background-repeat: no-repeat;
  width: 20px;
  margin: 0px;
  padding: 0px;
}

TD.td-shadows-bottom {
  background-image: url(shadow_bottom.png);
  background-position: top left;
  background-repeat: no-repeat;
  height: 5px;
  margin: 0px;
  padding: 0px;
}

TD.td-shadows-bottomright {
  background-image: url(shadow_bottomright.png);
  background-position: top left;
  background-repeat: no-repeat;
  width: 20px;
  margin: 0px;
  padding: 0px;
}

TD.td-shadows-main {
  margin: 0px;
  padding: 0px;
}
